$body-bg: white;

.App {
    text-align: center;
}

.App-loader {
    margin-top: 20px;
    text-align: center;
}

.App-header {

    .App-logo {
        height: 40px;
        pointer-events: none;
    }

    .App-avatar {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
    }
    /*
  background-color: $body-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
        */
}

.App-link {
    color: #61dafb;
}

.Login-text{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@import '~bootstrap/scss/bootstrap.scss';
