$body-bg: white;

.App {
    text-align: left;
}

.App-loader {
    margin-top: 20px;
    text-align: center;
}

.App-environment {
    font-size: 80%;
    text-align: center;
    background-color: #ffaaaa;
    padding: 5px;
}

.App-header {

    .App-logo {
        height: 30px;
        margin-top: -10px;
        pointer-events: none;
    }
    /*
  background-color: $body-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
        */
}

.App-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.App-body {
    padding: 10px 20px;
}

.App-link {
    color: #61dafb;
}

.Login-text {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Nav links */

.nav-tabs .nav-link {
    cursor: pointer;
}

/* Modals */

div.modal-close-button {
    position: absolute;
    font-size: 150%;
    right: 5px;
    top: 0px;
    z-index: 1;
    cursor: pointer;
}

@import '~bootstrap/scss/bootstrap.scss';
